.App{
    position: absolute;
    width: 550px;
    margin: auto;
    height: 704px;
    left: 0px;
    right: 0px;
    background: #FFFFFF;
    margin-top: 20px;
}

.content-section{
    display: flex;
    flex-direction: column;
    gap: 25px;
}

